body {
    background-color: magenta;
}

h1 {
    color: rgb(255, 247, 9);
}

div {
    background-color: rgb(226, 229, 156);
    width: 50vw;
}

.divRojo {
    background-color: rgb(194, 50, 50);
    color: aquamarine; }

.divUnico {
    background-color: cyan
}

#dibujo {
    width: 40vw;
    height: 40vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cara {
    width: 60%;
    height: 70%;
    background-color: teal;
    border-radius: 50%;
    position: relative; }
.ojos {
    width: 20%;
    height: 20%;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute; }

#ojoIzq {
    top: 20%;
    left: 20%;

}

#ojoDer {

    top: 35%;
    right: 20%;
}

.pupilas {
    width: 10%;
    height: 10%;
    background-color: black;

    border-radius: 80%;
    position: absolute; }

#pupilaIzq {
    width: 30%;
    height: 30%;
    top: 50%;
    left: 18%; }

#pupilaDer {
    top: 23%;
    left: 50%;

}

.boca {
    width: 50%;
    height: 20%;
    background-color: rgb(0, 0, 0);
    border-radius: 0% 0% 50% 50%;
    position: absolute;
    bottom: 20%;
    left: 25%;
}

.nariz {
    width: 15%;
    height: 20%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 38%;
    left: 40%;
}

.cejas {
    width: 30%;
    height: 10%;
    background-color: black;
    position: absolute;
    top: 10%;
}

#cejaIzq {
    left: 15%;
    transform: rotate(-20deg);
}

#cejaDer {
    top: 26%;
    right: 13%;
    transform: rotate(20deg);
}

.dientes {
    width: 10%;
    height: 20%;
    background-color: white;
    position: absolute;
    bottom: 0;
}

#dienteIzq {
    top: 1%;
    left: 20%;
}

#dienteDer {
    top: 72%;
    right: 25%;
}

.orejas {
    width: 40%;
    height: 45%;
    background-color: teal;
    border-radius: 50%;
    position: absolute;
    top: 30%;
}

#orejaIzq {
    left: -20%;
}

#orejaDer {
    right: -20%;
}   